
.search-container{
  width: 100%;
}

/**************   LOGO   **************/
.search-container .logo{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-container h2{
  padding: 1rem;
  color: rgb(90, 99, 140);
  font-size: 2em;
  text-align: center;
}

/**************   LOADING   **************/
.loader{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

/**************   FORMULARIO   **************/
.form{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
@media screen and (max-width: 768px){
  .form{
    flex-direction: column;
    text-align: center;
  align-items: center;
  justify-content: center;
  }
  .form .form-artist, .form .form-song{
    width: 50%;
  }
  .submit{
    width: 100%;
  }
  .form-send{
    width: 25%;
  }
}
.form-artist, .form-song{
  margin: .1rem;
  width: 25%;
  height: 1.5rem;
  border-radius: 10px;
  border: 2px solid rgb(90, 99, 140);
}
.form .form-send{
  border-radius: 10px;
  height: 2rem;
  border: 2px solid rgb(90, 99, 140);
}
.submit{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/**************   INFO CANCION   **************/
.info-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  background-color: rgb(90, 99, 140);
}
@media screen and (max-width: 768px){
  .info-container{
    grid-template-columns: 1fr;
  }
}

.artist-container{
  padding: 10px;
  border: 1px solid black;
}
.artist-container h3{
  color: #fff;
}
.artist-container img{
  width: 90%;
  display: flex;
  justify-content: center;
}
.artist-container p{
  color: #fff;
  font: 1.2em solid bold;
  width: 90%;
}
.artist-container a{
  color: #fff;

}

.lyric-container{
 padding: 10px;
  border: 1px solid black; 
}
.lyric-container h3{
  color: #fff;
  padding-left: 10px;
}
.lyric-container blockquote{
  color: #fff;
}